.fade-enter-active,
.fade-leave-active {
    transition-property: transform, opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

.fade-enter-from {
    transform: translateY(-100%);
    opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
    transform: translateY(0%);
    opacity: 1;
}

.fade-leave-to {
    transform: translateY(100%);
    opacity: 0;
}

.errorDisplay-enter-active,
.errorDisplay-leave-active {
    animation-name: shake;
    animation-duration: 0.3s;
}

.errorDisplay-leave-active {
    animation-direction: reverse;
}

@keyframes shake {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    25%, 75% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
