.msgDisplay-enter-active,
.msgDisplay-leave-active {
    animation: shake 0.3s;
}

.msgDisplay-leave-active {
    animation-direction: reverse;
}

@keyframes shake {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    25%, 75% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.rollDown-enter-active,
.rollDown-leave-active {
    animation: rollDown 0.1s;
}

.rollDown-leave-active {
    animation-direction: reverse;
}

@keyframes rollDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-enter-active,
.fade-leave-active {
    animation: fade 0.3s;
}

.fade-leave-active {
    animation-direction: reverse;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
