@import "variables.css";
@import "reset.css";
@import "utilities.css";
@import "common.css";
@import "animations.css";

a.nav__a:any-link,
.button__logout {
    color: var(--body-bg);
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.2s;

    padding: 0.3em 0.6em;
    border-radius: var(--border-radius);
}

.button__logout {
    background-color: transparent;
    border: none;
    font-size: 1em;

    text-align: left;
}

a.nav__a:any-link:hover,
a.nav__a:any-link:focus-visible,
.button__logout:hover,
.button__logout:focus-visible {
    background-color: var(--btn-hover-bg);
    outline: none;
}

.main {
    width: 75%;
    margin: 5rem auto 4rem auto;
}

.main__group {
    margin-top: 1.5rem
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

.list__item {
    display: block;
    padding: 0.4em;

    border: 1px solid var(--border-bg);
    border-radius: var(--border-radius);
    background-color: var(--primary-bg);

    cursor: pointer;

    transition-property: background-color;
    transition-duration: 0.3s;
}

div.list__item:hover {
    background-color: var(--primary-hover-bg);
}

.match__item,
.comp__item,
.team__item,
.player__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__more {
    margin-top: 1em;
    padding: 0.5em;
    /* background-color: transparent; */
    border: none;
    border-radius: var(--border-radius);

    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.button__more:hover {
    background-color: var(--btn-active-bg);
    color: var(--btn-text-color);
}

/* Filter Sections */
.filter__item {
    display: flex;
    align-items: center;
    gap: 1rem;

    position: relative;
}

/* Forms */
.div__icon-label-input {
    display: flex;
    align-items: center;
    gap: 0.5em;

    margin-top: 1em;
    border: 1px solid var(--border-bg);
    border-radius: var(--border-radius);

    padding-left: 0.4em;
    background-color: #FFF;
}

.div__icon-label-input input {
    padding: 0.7em;
    border: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.div__icon-label-input input:focus {
    outline: none;
}

.form__auth button[type=submit] {
    width: 70%;
    margin-top: 1em;
}

@media screen and (max-width: 580px) {
    .main {
        width: 90%;
        margin-bottom: 6rem;
    }
}

@media screen and (min-width: 581px) {
    .main {
        width: 85%;
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
}
