@import "reset.css";
@import "variables.css";
@import "utilities.css";
@import "common.css";
@import "animations.css";

.header {
    width: 100%;

    background: var(--header-bg);
    color: var(--btn-text-color);
    box-shadow: 0 0 10px #333;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    position: absolute;
    top: 0;
}

.header__title {
    padding: 0.4em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
}

.header__title img {
    width: 45px;
}

.header__nav {
    padding: 1rem;
    background-color: var(--second-header-bg);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.header a {
    padding: 0.6em;
    border-radius: var(--border-radius);

    transition-property: background-color, color, border;
    transition-duration: 0.3s;
}

.header a:any-link {
    color: var(--btn-text-color);
    text-decoration: none;
}

.header a:hover, .header a:active, .header a:focus {
    background-color: var(--header-bg);
    color: var(--btn-text-color);
}

.header__dashboard a {
    margin-right: 0.7em;
}

.header__browse p {
    display: none;
}

.header__links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 0.6rem;
}

a.auth__link {
    background-color: var(--btn-bg);
    font-weight: bold;
}

a.auth__link:hover {
    background-color: var(--btn-hover-bg);
}

.btn_logout {
    border: none;
    background: transparent;
    color: var(--body-bg);
    cursor: pointer;
}

.main {
    width: 75%;
    margin: 8rem auto 4rem auto;
}

.main__group {
    margin-top: 1.5rem
}

.list__item {
    display: block;
    margin-top: 1rem;
    padding: 0.8em;

    border: 1px solid var(--border-bg);
    border-radius: var(--border-radius);
    background-color: var(--primary-bg);

    cursor: pointer;

    transition-property: background-color;
    transition-duration: 0.3s;
}

div.list__item:hover {
    background-color: var(--primary-hover-bg);
}

.match__item,
.comp__item,
.team__item,
.player__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__more {
    margin-top: 1em;
    padding: 0.5em;
    /* background-color: transparent; */
    border: none;
    border-radius: var(--border-radius);

    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.button__more:hover {
    background-color: var(--second-header-bg);
    color: var(--btn-text-color);
}

/* Filter Sections */
.filter__item {
    display: flex;
    align-items: center;
    gap: 1rem;

    position: relative;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: var(--btn-text-color);
    padding: 1em;

    clear: both;
}

/* Forms */
.div__icon-label-input {
    display: flex;
    align-items: center;
    gap: 0.5em;

    margin-top: 1em;
    border: 1px solid var(--border-bg);
    border-radius: var(--border-radius);

    padding-left: 0.4em;
    background-color: #FFF;
}

.div__icon-label-input input {
    padding: 0.7em;
    border: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.div__icon-label-input input:focus {
    outline: none;
}

.form__auth button[type=submit] {
    width: 70%;
    margin-top: 1em;
}

@media screen and (max-width: 580px) {
    .header {
        font-size: 0.7rem;
    }

    .header__nav {
        font-size: 0.8rem;
        padding: 1.5em;
    }

    .header__browse {
        flex-grow: 1;
    }

    .header__browse p {
        display: block;
    }

    .header__links {
        display: none;
        margin-top: 1em;
        /* display: flex; */
        flex-direction: column;
        gap: 1em;
    }

    .header a {
        padding: 0.7em;
    }

    .main {
        width: 90%;
        margin-bottom: 6rem;
    }
}

@media screen and (min-width: 581px) {
    .main {
        width: 85%;
        margin-top: 8rem;
        margin-bottom: 6rem;
    }
}
