.search__bar {
    margin: 0.5rem;

    display: flex;
    gap: 0.5rem;
}

#input__search {
    border: 1px solid var(--headerBg);
    border-radius: var(--borderRadius);
    font-size: inherit;
    padding: 0.5em;
}

.search__bar button {
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #000;
    border: 2px solid var(--headerBg);
    border-radius: var(--borderRadius);
    cursor: pointer;

    color: whitesmoke;
    font-weight: bold;

    transition-property: background-color, border;
    transition-duration: 0.3s;
}

.search__bar button:hover {
    border: 2px solid black;
    background-color: var(--lightHover);
    color: #333;
}

/* Mobile Devices */
@media screen and (max-width: 480px) {

}

/* Tablets/Laptops */
@media screen and (min-width: 481px) and (max-width: 1024px) {

}
