.dn {
    display: none !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.w-10p {
    width: 10%;
}

.w-15p {
    width: 15%;
}

.w-20p {
    width: 20%;
}

.w-25p {
    width: 25%;
}

.w-30p {
    width: 30%;
}

.w-35p {
    width: 35%;
}

.w-40p {
    width: 40%;
}

.w-60p {
    width: 60%;
}

.mt-1 {
    margin-top: 1rem;
}

.btn {
    padding: 0.8em 1em;
    border-radius: var(--border-radius);
    font-weight: bold;
    border: 1px solid var(--border-bg);
    cursor: pointer;
}

.btn_common {
    color: var(--btn-text-color);
    background-color: var(--btn-bg);
}

.btn_common:hover,
.btn_common:focus-visible {
    border: 1px solid var(--border-bg);
    background-color: var(--btn-hover-bg);
    color: var(--btn-text-color);
}

.btn_common:disabled {
    background-color: var(--btn-disable-bg);
    cursor: not-allowed;
}

p.text_info {
    font-size: 0.8rem;
    margin-top: 0.2em;
}

.card {
    border: 2px solid var(--border-bg);
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px 4px #d5d5d5;

    padding: 1em;
}

.nowrap {
    white-space: nowrap;
}

.list__card {
    margin-top: 1rem;
    width: 100%;
    padding: 1em 0.5em;
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px 8px #dddddd;
}

.nav-active {
    background-color: var(--btn-active-bg);
}


/* Forms */
.div__icon-label-input {
    display: flex;
    align-items: center;
    gap: 0.5em;

    margin-top: 1em;
    border: 1px solid var(--border-bg);
    border-radius: var(--border-radius);

    padding-left: 0.4em;
    background-color: #FFF;
}

.div__icon-label-input input {
    padding: 0.7em;
    border: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    width: 100%;
}

.div__icon-label-input input:focus {
    outline: none;
}
