:root {
    --body-bg: whitesmoke;
    --header-bg: #071013;
    --second-header-bg: #333333;
    --primary-bg: #E2E7E4;
    --primary-hover-bg: #C5D0C9;
    --btn-bg: var(--header-bg);
    --btn-hover-bg: #1F272A;
    --btn-text-color: whitesmoke;
    --btn-disable-bg: #B80C09;
    --border-bg: #333333;
    --border-radius: 10px
}
